<!-- The main image -->
<section class="row ag-image">
    <img src="http://res.cloudinary.com/go-for-self/image/upload/e_improve/v1433786317/selfie-at-Dustins-place.jpg">
</section>

<section class="row ag-work">
    <div class="small-12 columns text-center">
        <p>I support people who are struggling emotionally with something in their lives. (<a href="http://www.goforself.me">Go For Self</a>)</p>
        <p>I help make people's visions and dreams a digital reality. (<a href="http://www.golightlyplus.com">Golightly+</a>)</p>
    </div>
</section>

<!-- Where I am -->
<section class="row">

    <h3 class="ag-section-heading"><i class="fa fa-home"></i> Where I am in the world</h3>

    <div class="small-6 column">
        <div>I'm in <a href="https://goo.gl/maps/wXaaC">Saskatoon (Canada)</a>, and it's currently {{ag.agClock | date : 'h:mm a on EEEE d MMMM yyyy' : '-0600'}} for me.</div>
    </div>

    <div class="small-6 column">
        <p>To find a time to chat for your timezone, <a href="http://www.worldtimebuddy.com/?pl=1&lid=6141256&h=6141256">click here</a>.</p>    
    </div>

</section>

<!-- Recent Instagram images -->
<section class="row">

    <h3 class="ag-section-heading"><i class="fa fa-camera"></i> Recent images</h3>

    <ul class="medium-block-grid-3">
        <li ng-repeat="agsInstagram in ag.instagramMedia">
            <a ng-href="{{agsInstagram.link}}">
                <img ng-src="{{agsInstagram.images.standard_resolution.url}}" class="img-thumbnail">
            </a>
            <p class="text-center">{{agsInstagram.caption.text}}</p>
        </li>
    </ul>

</section>

<!-- Recent Go For Self articles -->
<section class="row">

    <h3 class="ag-section-heading"><i class="fa fa-pencil"></i> Recent articles</h3>

    <div ng-repeat="wpArticle in ag.wpFeed" class="medium-4 column">
        <h4>{{wpArticle.title}}</h4>
        <p>{{wpArticle.contentSnippet}} <a ng-href="{{wpArticle.link}}">read more</a></p>
    </div>

</section>