<header class="row">
    <div class="small-12 columns text-center ag-logo">
        <h2>Here to support.</h2>
    </div>
</header>

<!-- The main image -->
<section class="row ag-image">
    <img src="http://res.cloudinary.com/go-for-self/image/upload/c_scale,w_1000/e_improve/v1434129135/Andrew_Golightly_coworking.jpg">
</section>

<section class="row ag-work text-center">
    <div class="medium-6 column">
        <h3>Counselling</h3>
        <p>I support people who are struggling emotionally with something in their lives.</p>
        <a href="http://www.goforself.me" class="button">Go For Self</a>
    </div>
    <div class="medium-6 column">
        <h3>Web Development</h3>
        <p>I also support people's visions and dreams and make them a digital reality.</p>
        <a href="http://www.golightlyplus.com" class="button">Golightly+</a>
    </div>
</section>

<!-- Where I am -->
<section class="row">

    <h3 class="ag-section-heading"><i class="fa fa-home"></i> Where I am in the world</h3>

    <div class="small-6 column">
        <div>I'm in <a href="https://goo.gl/maps/wXaaC">Saskatoon (Canada)</a>, and it's currently {{ag.agClock | date : 'h:mm a on EEEE d MMMM yyyy' : '-0600'}} for me.</div>
    </div>

    <div class="small-6 column">
        <p>To find a time to chat for your timezone, <a href="http://www.worldtimebuddy.com/?pl=1&lid=6141256&h=6141256">click here</a>.</p>    
    </div>

</section>

<!-- Recent Instagram images -->
<section class="row">

    <h3 class="ag-section-heading"><i class="fa fa-camera"></i> Recent images</h3>

    <ul class="medium-block-grid-3">
        <li ng-repeat="agsInstagram in ag.instagramMedia">
            <a ng-href="{{agsInstagram.link}}">
                <img ng-src="{{agsInstagram.images.standard_resolution.url}}" class="img-thumbnail">
            </a>
            <p class="text-center">{{agsInstagram.caption.text}}</p>
        </li>
    </ul>

</section>

<!-- Recent Go For Self articles -->
<section class="row">

    <h3 class="ag-section-heading"><i class="fa fa-pencil"></i> Recent articles</h3>

    <div ng-repeat="wpArticle in ag.wpFeed" class="medium-4 column">
        <h4>{{wpArticle.title}}</h4>
        <p>{{wpArticle.contentSnippet}} <a ng-href="{{wpArticle.link}}">read more</a></p>
    </div>

</section>

<!-- My music creations -->
<section class="row">

    <h3 class="ag-section-heading"><i class="fa fa-music"></i> My musical creations</h3>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/205952023&amp;color=0066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

</section>
