/* set our global variables */
/* ------------------------------------------ */
// fonts
$font-family-base: 'Open Sans', cursive ;

// colour scheme
$link-colour: #3498DB; // twitter blue
$main-background-colour: #fff;

/* end: set our global variables */
/* ------------------------------------------ */

body {
    background-color: $main-background-colour;
    font-family: $font-family-base;
}

.row {
    margin: 3em auto;
}

.ag-logo h1 {
    font-size: 2.2em;
    font-family: $font-family-base;
}

/* animate hovering over social media icons */
.ag-social-network {
    transition: all 0.3s linear;
    display: inline-block;
}

.ag-social-network:hover {
    transform: scale(1.1);
}