/* set our global variables */
/* ------------------------------------------ */
// fonts
$font-family-base: 'Open Sans', cursive ;

// colours
$twitter-blue: #3498DB;

/* end: set our global variables */
/* ------------------------------------------ */


/* main styling */
/* ------------------------------------------ */
body, h1, h2, h3, .button {
    font-family: $font-family-base;    
}

.ag-page-heading {
    animation: fadeInDown 1.1s;
}

/* topbar */
.top-bar a:hover {
    text-decoration: none;
}

.button {
    background-color: transparent;
    border: 3px solid $twitter-blue;
    color: $twitter-blue;
}

.button:hover {
    background-color: $twitter-blue;
    text-decoration: none;
}

a {
    color: $twitter-blue;
}

a:hover {
    text-decoration: underline;
    color: $twitter-blue;
}

.row {
    margin: 3em auto;
}

.ag-section-heading {
    margin-bottom: 0.8em;
}
/* end: main styling */
/* ------------------------------------------ */

/* animate hovering over social media icons */
/* ------------------------------------------ */
.ag-social-network {
    transition: all 0.3s linear;
    display: inline-block;
}

.ag-social-network:hover {
    transform: scale(1.1);
}
/* end: animating social media icons */
/* ------------------------------------------ */