/* set our global variables */
/* ------------------------------------------ */
// fonts
$font-family-base: 'Open Sans', cursive ;

/* end: set our global variables */
/* ------------------------------------------ */

body, .ag-logo h1, .ag-logo h2 {
    font-family: $font-family-base;    
}

.row {
    margin: 3em auto;
}

.ag-logo {
    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.55em;
    }
}

.ag-section-heading {
    margin-bottom: 0.8em;
}

/* animate hovering over social media icons */
.ag-social-network {
    transition: all 0.3s linear;
    display: inline-block;
}

.ag-social-network:hover {
    transform: scale(1.1);
}