$primary-colour: whitesmoke;
$secondary-colour: #92278F;

body {
    background-image: url('http://res.cloudinary.com/go-for-self/image/upload/v1429081313/yin-yang-bg.jpg');
    color: $primary-colour;
    font-family: 'Averia Sans Libre', cursive;
}

section.container {
    margin-top: 33px;
}

.jumbotron {
    background-color: rgba(0,0,0,0.8);
    padding-top: 44px;
    margin-top: 22px;
    min-height: 621px;

    a {
        color: $primary-colour;
    }

    h1 {
        font-size: 44px;   
    }

    p {
        font-size: 18px;
    }

    h3 a, p a {
        text-decoration: none;
        border-bottom: 1px dashed $secondary-colour;
    }

    a:hover {
        color: $secondary-colour;
        text-decoration: none;
        border-bottom: none;
    }

    h3 a:hover {
        text-shadow: 1px 1px 33px $primary-colour;
    }

}

/* animate profile pic */
/* ------------------- */

@import "bourbon";

/* flip image to show young Andrew :) */

.ag-profile-pic-container {
    height: 254px;
    @include perspective(600);
    position: relative;
    width: 254px;
    margin: 0 auto;
}

.ag-profile-pic {
    height: 100%;
    position: absolute;
    @include transform-style(preserve-3d);
    @include transition(all 1s ease-in-out);
    width: 100%;
}

.ag-profile-pic:hover {
    @include transform(rotateY(180deg));
}

.ag-profile-pic .ag-profile-pic-side {
    @include backface-visibility(hidden);
    height: 100%;
    position: absolute;
    width: 100%;
}

.ag-profile-pic .ag-profile-pic-side-back {
    @include transform(rotateY(180deg));
}

/* flyIn on page load */
.ag-profile-pic.ng-hide-remove.ng-hide-remove-active {
    @include animation(flyIn 3s);
}

@include keyframes(flyIn) {

    0% {
        opacity: 0;
        @include transform(scale(0, 0));
    }

    80% {
        opacity: 0.8;
        @include transform(scale(1.1, 1.1));
    }

    100% {
        opacity: 1;
        @include transform(scale(1, 1));
    }
}